/*
 * GLOBAL SASS VARIABLES
 * ------------------
 * This file provides global variables for SASS.
 * Requires:    -
 * Usage:       Do not Touch!
 *              The file is part of the SASS Base.
 *
 */





/*
 * Colors
 * ------
 * Description:
 * Requires:
 * Usage
 *
 */

$febs-color-white: #ffffff;
$febs-color-black: #000000;

$febs-color-social-facebook: #3b5998;





/*
 * Layout
 * ------
 * Description:
 * Requires:
 * Usage: [ padding: $space; (5px) ] or [ padding: $space*3; (15px) ] or [ padding: (-$space*10); (-50px) ]
 *
 */

$space: 5px;