/*
 * CUSTOMER VARIABLES
 * ------------------
 * Description: Add your own variables to fit customers needs
 * Requires:    -
 * Usage:       Put your customer variables in this file
 */





/*
 * LAYOUT
 * ------
 * Description:
 * Requires:
 * Usage: [ padding: $space; (5px) ] or [ padding: $space*3; (15px) ] or [ padding: (-$space*10); (-50px) ]
 *
 */

$space: 5px;





/*
 * COLORS
 * ------
 * Description:
 * Requires:
 * Usage
 *
 */

$fb-color-white: #ffffff;
$fb-color-black: #000000;

$fb-color-social-facebook: #3b5998;
